%footer.footer      
  .container
    .row
      .col-lg-12
        .pull-left
          %h5= AppConfig.workshops_name
        .pull-right.link_to_gh
          = link_to "https://github.com/JoaquinSantana/workshopsgliwice", target: "_blank" do
            %i.fa.fa-github
            = surround '  ', '  ' do
              This site is Open Source