/*
*= require_tree .
*= require font-awesome
*= require_self
*/


/*** own variables & mixins ***/
$text-color: white;
$navbar-text-color: #3F6EA7;

$dark-grey: #525252;
$light-grey: lighten($dark-grey, 40%);
$very-light-grey: #F5F5F5;
$light-blue: #3D72B4;
$grey-to-blue: #476283;

$standard-padding: 10px;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin border-top-shadow {
  -webkit-box-shadow: 0 -7px 5px -5px #000000;
  box-shadow: 0 -7px 5px -5px #000000;
}

@mixin border-down-shadow {
  -webkit-box-shadow: 0 7px 5px -5px #000000;
  box-shadow: 0 7px 5px -5px #000000;
}

@import "bootstrap";

html {
  min-height: 100%;
  position: relative;
}

body {
  background: -webkit-linear-gradient(90deg, #525252 10%, #3d72b4 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #525252 10%, #3d72b4 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #525252 10%, #3d72b4 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #525252 10%, #3d72b4 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #525252 10%, #3d72b4 90%); /* W3C */
        
  font-family: 'Lato', sans-serif;
  color: $text-color;
  a {
    color: $text-color;
  }
}

.alert {
  margin-bottom: 25px;
  margin-top: 10px;
}

.alert-notice {
  @extend .alert-success;
  background-color: white;
  border-color: $light-blue;
  color: $dark-grey;
}

.alert-alert {
  @extend .alert-warning;
  background-color: white;
  border-color: red;
  color: $dark-grey;
}

.alert-danger {
  background-color: white;
  border-color: red;
  color: $dark-grey;
}

.btn-default {
  background-color: transparent;
}

/** Navbar **/

.navbar-default {
  @include border-down-shadow;
  background-color: white;
  border-radius: 0;
  height: 80px;
  padding: 15px 0;
  border: none;


  a {
    color: $navbar-text-color;
  }

  .navbar-brand {
    text-transform: uppercase;
    letter-spacing: -1px;
    font-size: 2em;
    font-weight: 300;
    a {
      @include transition(all, 0.6s);
      &:hover {
        @include transition(all, 0.6s);
        font-weight: 400;
        text-decoration: none;
      }
    }
  }

  .navbar-text {
    margin-top: 10px;
  }
}

/** categories **/

.categories_wrapper {
  margin-bottom: 100px;
}

.welcome {
  letter-spacing: 5px;
  padding-bottom: 50px;
  padding-top: 30px;
}

.thumbnail {
  background: rgba(white, .2);
  border: none;
  padding: 0;
  @include border-radius(5px);
  img {
    -moz-border-radius: 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px; 
  }

  .caption {
    padding: 0;
    h3 {
      text-align: center;
      width: 100%;
      margin: 0px;
      padding: 20px 0px;
    }

    .category_action {
      padding: 9px !important;
      background: rgba(white, .4);
      -moz-border-radius: 0px;

      a {
        color: $text-color;

        &:hover {
          color: $dark-grey;
        }
      }

      .pull-right {
        margin-top: 7px;
        color: $dark-grey;
      }
    }
  }

  .fruit {
    height: 218px !important;
  }

  .ingredient {
    height: 218px !important;
    width: 360px !important;
  }

  .meat {
    height: 218px !important;
    width: 360px !important;
  }

  .vegetable {
    height: 218px !important;
    width: 360px !important;
  }
  .other {
    height: 218px !important;
    width: 360px !important;
  }

  .spice {
    height: 218px !important;
    width: 360px !important;    
  }
}

  

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: $navbar-text-color;
  padding: 10px 0;
  margin-top: 50px;
  text-transform: uppercase;
  letter-spacing: -1px;
  @include border-top-shadow;
  .link_to_gh {
    a {
      color: $navbar-text-color !important;
    }
    i {
      padding-top: 10px;
    }
  }
}

.signform {
  padding: $standard-padding 0;
  color: $navbar-text-color;
  
  label {
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: 200;
  }
  
  textarea, input, select {
    background-color: $light-grey;
    &:focus {
      background-color: $dark-grey;
      color: $text-color;
    }
  }

  abbr {
    display: none;
  }

  #user_remember_me {
    margin-left: 10px;
  }
}

.panel-heading {
  background-color: $light-grey !important;
}

.show_category {
  .heading {
    font-weight: 200;
    border-bottom: 2px solid $navbar-text-color;
    margin-bottom: 20px;
  }

  .products_list {
    padding-left: 0px;
  }

  .product_item {
    padding: 20px 0;

    .fa {
      color: $text-color;
      font-size: 16px;

      &:hover {
        color: $dark-grey;
      }

    }
    .product_title {
      float: left;
      width: 20%
    }
    .product_description {
      float: left;
      width: 60%
    }
    .product_price {
      text-align: right;
      float: left;
      width: 10%;
    }
    .product_info {
      text-align: right;
      float: left;
      width: 10%;
    }

    .product_more {
      display: none;
    }
  }

  .product_more_wrapper {
    margin-top: 50px !important;
  }

  .product_reviews {
    margin: 50px 0 !important;
    h4 {
      border-bottom: 2px solid black;
      margin-bottom: 20px;
    }
  }

  .category_navbar {
    .nav {
      padding-top: 10px;
      li {
        border: 1px solid $navbar-text-color;
        a {
          text-align: center;
          text-transform: uppercase;
          width: 100%;
        }
      }
    }
  }

  .new_product {
    margin-bottom: 50px;
    .col-md-12 {
      padding-left: 0px;

      .signform {
        color: lighten($navbar-text-color, 20%);

        input, textarea {
          background-color: $light-grey;
          &:focus {
            background-color: $dark-grey;
            color: $text-color;
          }
        }
      }
    }
  }
}

.review_wrapper {
  margin: 15px 0px;
  padding: 15px;
  background: rgba($dark-grey, .2) !important;
  border-bottom: 1px solid gray;
  .review.content {
    padding-bottom: 10px;
  }
  em {
    color: $light-grey;
  }
}

.product_header {
  margin: 40px 0;
  .col-md-7 {
    padding: 0;
  }

  .col-md-5 {
    h2 {
      margin: 0;
    }

    .sub_description {
      margin: 40px 0px;
    }

    .sub_price {
      margin: 0;
      padding-top: 35px;
      padding-bottom: 14px;
      font-size: 109px;
    }
  }
}

.reviews_on_product {
  margin-bottom: 100px;
  .heading {
    padding-bottom: 5px;
    border-bottom: 2px solid black;
    margin-bottom: 20px;    
  }

  .signform {
    label {
      color: $text-color;
    }
  }
  em {
    font-size: 12px;
    color: $light-grey;
  }
}

.users {
  margin-bottom: 100px;
  .users_index_page {
    padding: 15px;
    &:hover {
      h5 {
        color: $text-color;
      }
    }
    .user_avatar {
      -webkit-box-shadow: 5px 5px 5px #111;
      box-shadow: 5px 5px 5px #111;  
      img {
        background: rgba($dark-grey, .2);
      }
    }

  }
}
