@import "bootstrap";

/*** own variables & mixins ***/
$text-color: white;
$navabr-text-color: #3F6EA7;


html {
  height: 100%;
}

body {
  height: 100%;
  background: -webkit-linear-gradient(90deg, #525252 10%, #3d72b4 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #525252 10%, #3d72b4 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #525252 10%, #3d72b4 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #525252 10%, #3d72b4 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #525252 10%, #3d72b4 90%); /* W3C */
        
  font-family: 'Lato', sans-serif;
  color: $text-color;
  a {
    color: $text-color;
  }
}

.alert-notice {
  @extend .alert-success;
}
 
.alert-alert {
  @extend .alert-warning;
}

/** Navbar **/

.navbar-default {
  background-color: white;
  border-radius: 0;
  height: 80px;
  padding: 15px 0;
  border: none;

  a {
    color: $navabr-text-color;
  }

  .navbar-brand {
    text-transform: uppercase;
    letter-spacing: -1px;
    font-size: 2em;
    font-weight: 300;
    a {
      @include transition(all, 0.6s);
      &:hover {
        @include transition(all, 0.6s);
        font-weight: 400;
        text-decoration: none;
      }
    }
  }
}